<!doctype html>
	<!--
	This page is shown when the extension button is clicked, because the
	"browser_action" field in manifest.json contains the "default_popup" key with
	value "popup.html".
	-->
<html>
	<head>
		<title>Getting Started Extension's Popup</title>
		<style>
			body {
				font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
				font-size: 100%;
			}
			#status {
				max-width: 400px;
			}
		</style>

		<script src="angular.min.js"></script>
		<script src="popup.js"></script>
	</head>
	<body style="width: 300px;" ng-app="app">

		<div ng-controller="AppCtrl">

			<div ng-if="currentPage == 'login' ">
				<input type="email" name="email" ng-model="loginData.email">
				<input type="password" name="pass" ng-model="loginData.password">
				<button ng-click="login()">Login</button>
			</div>
			<div ng-if="currentPage == 'data' ">
				<p id="sales-count"></p>
			</div>
			<div id="status"></div>
		</div>
	</body>
</html>

